.header{
    margin: 20px 0;
    
    
    color: white;
 
 
}
.icon{
    margin-right: 5px;
}
.header-title{
    color: #ecbe25;
    font-size: 2em;
    cursor: pointer;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li{
    display: inline;
    margin-right: 10px;
    font-size: 1.2em;
    cursor: pointer;
}
li:hover{
    color: #ecbe25;
}
.header-page-navigation{
    float: right;
}
.header-search{
    margin-left: 10vw;
    
}